#container{
    display: flex;
    flex-direction: column;
    width: 1125px;
}

#title{
    text-align: center;
    font-weight: 500;

}

#formulario{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.error{
    color:red;
    font-size: 12px;
}