<div id="container">
    <div id="caja"></div>
    <div id="title">
        <h1>Perfil Empresa</h1>
    </div>
    <form #form
    autocomplete="off"
    novalidate
    #formRef="ngForm" 
    >
        <div class="row mb-3" id="formulario">
            <div class="col-md-5 mt-5 mb-5 ">
                <label for="inputRUC">RUC</label>
                <input #rucInput class="form-control" readonly id="inputRUC" name="ruc" type="text">
                
            </div>
            <div class="col-md-5 mt-5 mb-5">
                <label for="inputEmail">Correo Electrónico Organización</label>
                <input class="form-control" id="inputEmail" name="mailorganizacion" readonly type="email">
                
            </div>
            <div class="col-md-5 mb-5">
                <label for="inputRazonSocial">Razón Social</label>
                <input #razonSocial readonly class="form-control" id="inputRazonSocial" name="razonsocial" type="text">

            </div>

            <div class="col-md-5 mb-5">
                <label for="inputNumphone">Teléfono</label>
                <input class="form-control" readonly id="inputNumphone" name="telefono" type="text">

            </div>

            <div class="col-md-5 mb-5">
                <label for="inputDireccion">Dirección</label>
                <input class="form-control"  readonly id="inputDireccion" name="direccion" type="text">
            </div>

            <div class="col-md-5 mb-5">
                <label for="inputFirmaElect">Firma Electrónica</label>
                <input class="form-control" id="inputFirmaElect" name="firmaElect" type="file">
            </div>
        </div>
    </form>
</div>