#container{
    display: flex;
    flex-direction: column;
    width: 1125px;
}

#caja{
    display: flex;
    background-color: black;
    height: 120px;
    border-bottom-right-radius: 18% 75%;
}

#title{
    font-weight: bold;
}

#formulario{
    display: flex;
    /* justify-content: center; */
    margin-left: 10px;
    margin-right: 10px;
}

.error{
    color:red;
    font-size: 12px;
}
.cargaArchivo{
    color:rgb(9, 181, 141);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cargaArchivo label:first-child{
    color: black;
}