<html>
    <head></head>
    <body>
         <div class = 'center'> 
                <h3>{{razonSocial}} Gracias por contratar nuestros servicios</h3> 
                <p>
                    En el siguiente enlace puede acceder a la plataforma para crear su cuenta de usuario:<br><br>
                    
                    <strong>Link:</strong> https://raochoa.pythonanywhere.com/create-cuenta<br>
                    <strong>Código de verificación:</strong> {{token}}

                </p>       
         </div>
    </body>
    
</html>