<html>
    <head></head>
    <body>
         <div class = 'center'> 
                <h3>Cambio de contraseña</h3> 
                <p>
                    Señor/a {{nombre}}, este mensaje se generó debido a que usted ha solicitado 
                    restablecer su contraseña, si usted no lo ha solicitado comuniquese de inmediato 
                    con nosotros.<br><br>

                    En el siguiente enlace puede cambiar la contraseña de su cuenta:<br>
                    Link: https://raochoa.pythonanywhere.com/restablecer-password/<br><br>

                    Se le pedirá un código de verificación:<br>
                    <strong>Código:</strong> {{token}}

                </p>       
         </div>
    </body>
    
</html>