<div id="container">
    <div id="compra">
        <div>
            <h1>Completar Compra</h1>
            <h2>Resumen de la Compra</h2>
        </div>
        <div>
            <h3>Nombre del plan :v</h3>
            <hr>
            <div id="precio-plan">
                <div id="total">
                    <p id="iva">Total con IVA</p>
                    <p id="precio">Precio del plan</p>
                </div>

            </div>
            <hr>
        </div>
        <div id="botones-tarjetas">
            <h3>Pagar con</h3>
            <div id="container-credit-card">
                <button type="button" id="tarjetas-credito" (click)= "mostrarFormasPago()" class="btn btn-outline-primary"> 
                    <div id="tarjetas">
                        <img alt="Visa" src="https://static.twitchcdn.net/assets/visa-6735449f657c4e4619f6.svg">
                        <img alt="Master Card"
                            src="https://static.twitchcdn.net/assets/mastercard-25102409fba46d2f6542.svg">
                        <img alt="American Express"
                            src="https://static.twitchcdn.net/assets/amex-d916fd5efa001650f7c9.svg">
                        <img alt="Discover" src="https://static.twitchcdn.net/assets/discover-65dc8aa5c9da7e463807.svg">
                        <span>+ Más</span>
                    </div>
                </button>
            </div>
        </div>
        
        <div id="metodos-pago">
            <p>Tramitar forma pago</p>
            <p>Forma de Pago</p>
            <hr>    
            <div id="pagos">
                <button type="button" id="tarjetas-credito" (click)= "mostrarPagoTarjeta()" class="btn btn-outline-primary">
                    <div id="pago-tarjeta">
                        <img alt="credit-card" src="assets/credit-card.png" width="75px">
                        <p>Tarjeta Crédito / Débito</p>
                    </div>
                </button>

                <button type="button" id="tarjetas-credito" (click)= "mostrarPagoTransf()" class="btn btn-outline-primary">
                    <div id="pago-transferencia">
                        <img alt="transferencia-bancaria" src="assets/Transferencia.png" width="75px">
                        <p>Tarjeta Crédito / Débito</p>
                    </div>
                </button>

            </div>
        </div>

        

        <div id="pay-creditcard">
            <div id="credit-card">
                <form action="#" class="credit-card-div">
                    <div class="panel panel-default">
                        <div class="panel-heading">
            
                            <div class="row ">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Enter Card Number" />
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <span class="help-block text-muted small-font"> Expiry Month</span>
                                    <input type="text" class="form-control" placeholder="MM" />
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <span class="help-block text-muted small-font"> Expiry Year</span>
                                    <input type="text" class="form-control" placeholder="YY" />
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <span class="help-block text-muted small-font"> CCV</span>
                                    <input type="text" class="form-control" placeholder="CCV" />
                                </div>
                                <div id="img-cc" class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="assets/credit-card.png" width="75px" />
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 pad-adjust">
                                    <input type="text" class="form-control" placeholder="Name On The Card" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pad-adjust">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked class="text-muted"> Save details for fast
                                            payments <a href="#"> learn how ?</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                    <tr>
                                        <td align="center"><a id="volver" type="submit" (click)="volverFormaPago()"
                                            class="btn btn-danger">Cancelar</a>
                                        </td>
                                    </tr>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                    <tr>
                                        <td align="center"><a id="volver" type="submit" href="/confirmacion"
                                                class="btn btn-warning btn-block">Pay Now</a>
                                        </td>
                                    </tr>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="pay-tranfer">
            <div id="container-tranf">
                <div id="banco">
                    <p>Banco</p>
                    <p>*Información del Banco*</p>
                </div>
                <div id="cuenta">
                    <p>N°. Cuenta</p>
                    <p>##########</p>
                </div>
                <div id="tipo">
                    <p>Tipo</p>
                    <p>Ahorro</p>
                </div>
                <div id="cedula">
                    <p>Cédula</p>
                    <p>0958424653</p>
                </div>
                <div id="beneficiario">
                    <p>Beneficiario</p>
                    <p>*Encargado*</p>
                </div>
                <div id="correo">
                    <p>Correo</p>
                    <p>*encargado*@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>