body{
    margin: 0 !important; 
    padding: 0 !important;
}

td#head{
    background-color: rgb(9, 66, 116);
    align-items: center;
    padding: 0px 10px 0px 10px;
}

p#confirmacion{
    text-align: justify;
}

p#duda{
    text-align: center;
}