<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <div id="nav-container" class="row w-100">
        <div class='navbar-brand col-2 align-items-center' >
            <div class="h-100 row align-content-center">
                <a class="col-6 offset-6 nav-link navbar-brand" [routerLink]= "['/portal/perfil']" >Facturación</a>
            </div>
        </div>
        <div class="navbar-nav col-1 offset-9">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" (click)="logout()">Sign out</a>
            </div>
        </div>
    </div>
</header>