#sidebarMenu{
    display: flex;
}

#container-nav{
    display: flex;
    width: 224px;}

ul{
    width: 229px;
}

a{
    color: black;
    padding-left: 40px;
    box-shadow: 0.1px 3px black;
    border: 0.1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}