<header-admin></header-admin>
<div class ="row">
    <nav-admin class ="col-5"></nav-admin>
    <div class="col-7">
        <div id="title"><span>
                <h1 class="text-center">Editar informacion de usuario</h1>
            </span></div>
        <div class="card-body">
            <form #form [formGroup]="addEmp" autocomplete="off" novalidate #formRef="ngForm">
                <div>
                    <div class='{{response_d}}'>
                        {{response_content}}
                    </div>
                    <div id="container-form" class="formulario">
                        <div class="text-center">
                            <div class="mb-6 row grupos-permisos" formGroupName="user">
                                <div class="mb-6">
                                    <div class="form-floating mb-6 mb-md-0">
                                        <input class="form-control campos" id="nombre" name="nombres" type="text"
                                            placeholder="Nombres de la persona" maxlength="20"
                                            formControlName="first_name">
                                        <label for="nombre">Nombres</label>
                                        <span class="lead error"
                                            *ngIf="addEmp.get('name')?.hasError('minlength') || addEmp.get('name')?.hasError('pattern')">Ingrese
                                            un nombre válido</span>
                                    </div>
                                </div>
                                <div class="mb-6">
                                    <div class="form-floating mb-12 mb-md-0">
                                        <input class="form-control campos" id="apellido" name="apellidos" type="text"
                                            placeholder="Nombres de la persona" maxlength="20"
                                            formControlName="last_name">
                                        <label for="nombre">Apellidos</label>
                                        <span class="lead error"
                                            *ngIf="addEmp.get('name')?.hasError('minlength') || addEmp.get('name')?.hasError('pattern')">Ingrese
                                            un nombre válido</span>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-6 row grupos-permisos">
                                <div class="mb-6" formGroupName="user">
                                    <div class="form-floating mb-12 mb-md-0">
                                        <input class="form-control campos" id="correo" name="correo" type="text"
                                            placeholder="Nombres de la persona" maxlength="35" formControlName="email">
                                        <label for="correo">Correo</label>
                                        <span class="lead error"
                                            *ngIf="addEmp.get('email')?.hasError('minlength') || addEmp.get('email')?.hasError('pattern')">Ingrese
                                            un email válido</span>
                                    </div>
                                </div>
                                <div class="mb-6">
                                    <div class="form-floating">
                                        <input class="form-control campos" id="inputDireccion" name="direccion"
                                            type="text" placeholder="Ingrese su dirección" formControlName='direccion'>
                                        <label for="inputDireccion">Dirección</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-6 row grupos-permisos" formGroupName="user">
                                <div class="mb-6">
                                    <div class="form-floating mb-12 mb-md-0">
                                        <input class="form-control campos" id="contraseña" name="ruc" type="password"
                                            placeholder="Escriba sus ocntraseña" formControlName="password">
                                        <label for="contraseña">Contraseña</label>
                                        <span class="lead error"
                                            *ngIf="addEmp.get('password')?.hasError('minlength') || addEmp.get('password')?.hasError('pattern')">Por
                                            favor llene este campo con una contraseña segura</span>
                                    </div>
                                </div>
                                <div class="mb-6">
                                    <div class="form-floating mb-12 mb-md-0">
                                        <input type="password" class="form-control campos" id="confpassword" name="ruc"
                                            placeholder="Ecriba de nuevo su contraseña" formControlName="confpassword">
                                        <label for="confcontraseña">Confirmar contraseña</label>
                                        <span class="lead error" *ngIf="validacionPassword()">La contraseñas no
                                            coinciden</span>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-6 row grupos-permisos">
                                <div class="mb-6">
                                    <div class="form-floating mb-12 mb-md-0">
                                        <input #telf class="form-control campos" id="inputNumphone" name="telefono"
                                            type="text" placeholder="Ingrese su numero de telefono"
                                            (input)="validate.validarCampNum(telf,10)" formControlName='telefono'>
                                        <label for="inputNumphone">Teléfono</label>
                                        <span class="lead error"
                                            *ngIf="addEmp.get('telefono')?.hasError('minlength') || addEmp.get('telefono')?.hasError('maxlength')">Ingrese
                                            numero telefono válido</span>
                                    </div>
                                </div>
                                <div class="mb-6">
                                    <div class="form-floating mb-12 mb-md-0">
                                        <input class="form-control campos" id="cargoEmpresa" name="ruc" type="text"
                                            placeholder="Cargo en la Empresa" maxlength="20"
                                            formControlName="cargoEmpres">
                                        <label for="cargoEmpresa">Cargo en la Empresa</label>
                                        <span class="lead error"
                                            *ngIf="addEmp.get('cargoEmpres')?.hasError('minlength') || addEmp.get('cargoEmpres')?.hasError('pattern')">Por
                                            favor llene este campo</span>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-12 row grupos-permisos">
                                <div class="mb-4">
                                    <div> <span>
                                            <h4>Grupos disponibles</h4>
                                        </span> </div>
                                    <div class="form-floating">
                                        <select id="grupos" name="miselect" multiple class="filtered campos">
                                            <option [value]="item" *ngFor="let item of listGrupos">{{item}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-2 containerSelect ">
                                    <button (click)="asignarSelect('grupos')"
                                        class="btnSelect btn btn-primary btn-block"> > </button>
                                    <button (click)="removerSelect('gruposSelect')"
                                        class="btnSelect btn btn-primary btn-block">
                                        < </button>
                                </div>

                                <div class="mb-4">
                                    <div><span>
                                            <h4>Grupos seleccionados</h4>
                                        </span></div>
                                    <div class="form-floating">
                                        <select id="gruposSelect" name="miselect2" multiple class="filtered campos">
                                            <option [value]="item" *ngFor="let item of listGruposSeleccionados">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                    <div>
                                        <button (click)="removeAll('Grupos')"
                                            class="btn btn-primary btn-block">RemoverTodo</button>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-12 row grupos-permisos">
                                <div class="mb-4">
                                    <div><span>
                                            <h4>Permisos disponibles</h4>
                                        </span></div>
                                    <div class="form-floating">
                                        <select id="permisos" name="miselect3" multiple class="filtered campos">
                                            <option [value]="item" *ngFor="let item of listPermisos">{{item}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-2 containerSelect ">
                                    <button (click)="asignarSelect('permisos')"
                                        class="btnSelect btn btn-primary btn-block"> > </button>
                                    <button (click)="removerSelect('permisosSelect')"
                                        class="btnSelect btn btn-primary btn-block">
                                        < </button>
                                </div>

                                <div class="mb-4">
                                    <div><span>
                                            <h4>Permisos seleccionados</h4>
                                        </span></div>
                                    <div class="form-floating">
                                        <select id="permisosSelect" name="miselect4" multiple class="filtered campos">
                                            <option [value]="item" *ngFor="let item of listPermisosSeleccionados">
                                                {{item}}</option>
                                        </select>
                                    </div>
                                    <div>
                                        <button (click)="removeAll('Permisos')"
                                            class="btn btn-primary btn-block">RemoverTodo</button>
                                    </div>
                                </div>
                            </div>

                            <div id="buttons" class="mt-4 mb-0">
                                <input type="button" value="Close" class="btn btn-primary btn-block">
                                <input type="submit" (click)="enviarInfo(addEmp.value)" value="Guardar"
                                    class="btn btn-primary btn-block">
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>