/* #title{
    text-align: center;
    margin-top: 50px;
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container{
    border: 1px solid black;
    padding: 10px;
}
#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.campos{
    margin: 1%;
}

select{
    width:300px;
    height: 200px;
}
.containerSelect{
    width: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.containerSelect btnSelect{
    margin-top: 15px;
    width: 20px;
    height: 10px;
}
*/

.error {
    color: #f82929;
    font-size: 13px;
    margin-top: 2px;
  }
.error-permisos{
    color: #f82929;
    font-size: 13px;
    margin-top: 2px;
    display:flex;
    justify-content: space-around;
}

  #loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: no-repeat rgb(249,249,249);
    opacity: .8;
}

.heigthSelect{
    height: 240px;
}

.input-campos{
    border-radius: 50px;
    width:90%;
    margin-left: 5%;
    color:#39418a;
}
.label-campos{
    font-weight: 1000;
    font-size: 16px;
    color: #00b4c3;
    margin-left: 8%;
    opacity:1 !important;
}
.labels-permisos{
    width:90%;
    color:#39418a;
    font-weight: bold;
    opacity:1 !important;
}

.selects{
    border-radius: 5px;
    width:90%;
    margin-left: 5%;
    color:#39418a;
    font-weight: bold;
    font-size: 15px;
    font-weight: 1000;
}
.button-guardar{
    color:white;
    background-color: #ED8337;
    border-radius: 35px;
    width: 14%;
    padding: 1% 2% 1% 2%

  }

#titulo{
    background-color: #00b4c3;
    width: 350px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    color:white;
    font-weight: initial;
}

#container-titulo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.grupos-permisos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div[class= "col-md-5"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[disabled]{
    background-color:#afafaf;
    cursor: not-allowed;
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-floating-select{
    margin-left: -15px;
    margin-right: 15px;
}