<div id="container">
    <div id="documentos" class="w-100">
        <div id="caja"></div>
        <div id="boton-volver" class="mt-4 ms-4 d-none">
            <button class="btn btn-primary btn-block">
                <img alt="volver" src="assets/volver.png" width="25px">
                Volver
            </button>
        </div>
        <div *ngIf="loanding" id="loader" class="w-100">
            <mat-progress-spinner class="top-50 start-50 translate-middle" id="carga" [color]="'primary'" [mode]="'indeterminate'">
            </mat-progress-spinner>
        </div>
        <div class="alertas" *ngIf = "notificaciones.length > 0">
            <div id="contenedor">
                <div *ngFor = 'let alert of notificaciones'>
                    <alerts (propagarLista) ="procesaPropagar($event)" (OnPropagarCierre)="procesarCierre()" mensaje="{{alert.name}}" tipo = "{{alert.value}}" nombreNotify = "{{alert.name}}" [shownotify] = "notificaciones" [cantidad]="totalDocs" ></alerts>
                </div> 
            </div>
        </div>
        <div id="seccion-botones" class="mt-4 mb-4">
            <div class="invisible">
                <input type="text">
                <img alt="buscador" src="assets/lupa.png" width="25px">
            </div>

            <div class="invisible">
                <img alt="buscador" src="assets/filtro.png" width="25px">
                <select aria-label="Todos" id="documentos">
                    <option value="TODOS" selected>Seleccione una opción</option>
                </select>
            </div>

            <fieldset [disabled]=!enviarDocumentos>
                <div>
                    <input #doc (change)="capturarFile(doc)" class="form-control"
                    id="inputDoc" name="inputDoc" type="file" accept=".xml" multiple> <!-- Aqu se ccambia se el tipo de archivo también aceppt y el multiple sirve para cargara varios-->
                    <div *ngIf="previsualizacion">
                        <label class="cargaArchivo">Archivos cargados:
                            <label>{{previsualizacion}}</label>
                        </label>
                    </div>
                    <input type="submit" [disabled]="enviar" (click) = "subirArchivos(doc)">
                </div>
                <div class="center ">
                    <div *ngIf = "totalDocs > 0" mode="buffer">
                        <span id = "porcentaje" class = 'archivos-cargados' >Cargando...</span>
                        <div id="progressbar">
                            <mat-progress-bar id="progress-bar" mode="determinate" value="100">
                            </mat-progress-bar>
                        </div>
                    </div>
                </div>
            </fieldset>

        </div>
        <div>
            <table class="table">
                <thead>
                    <tr class="titles">
                        <th scope="col">Id</th>
                        <th scope="col">Fecha de Emisión</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Nombre del Documento</th>
                        <th scope="col">Tipo de Documento</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Tipo de Creación</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <tr *ngFor="let doc of listaDocumentos"  class="fila">
                        <td>{{doc.id}}</td>
                        <td>14-06-2021</td>
                        <td>{{doc.hora}}</td>
                        <td>-----------</td>
                        <td>{{doc.nombreDoc}}</td>
                        <td>----------</td>
                        <td>----------</td>
                        <td>----------</td>
                        <td>{{doc.tipoCreacion}}</td>
                        <td id="iconos" class="w-100 h-40">
                            <img alt="visualizar" src="assets/vision.png" width="15px">
                            <img alt="recharge" src="assets/cargando-flechas.png" width="10px">
                            <button class="btn btn-primary" (click) = "descargardoc(doc.id)">
                                <img alt="download" src="assets/descargar.png" width="10px">
                            </button>
                            <img alt="delete" src="assets/eliminar.png" width="10px">
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>