#container{
    display: flex;
    flex-direction: row;
}

a {
    color: #00B7FF;
  }

  #caja{
    display: flex;
    background-color: black;
    height: 120px;
    border-bottom-right-radius: 18% 75%;
}

  th{
      text-align: center;
  }

  td{
      font-size: smaller;
      width: 120px;
      text-align: center;
  }

#seccion-botones{
    display: flex;
    justify-content: space-around;
}

  #iconos{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
  }
  
  table tbody tr:nth-child(odd){
    background: #b9b9b9;
  }
  
  table tbody tr:nth-child(even){
    background: #fff8e5;
  }
  
  #tableBody{
    border: none;
  }

  .archivos-cargados{
    color: rgb(22, 88, 220);
  }

  .alertas{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    right: -4px;
    margin-bottom: 2%;
    top: 25%;
  }

  [class="fila"]{
    height: 20px;
  }
  #loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: no-repeat rgb(249,249,249);
    opacity: .8;
}