<div id="container" class="vh-100">
    <div id="cliente" class="w-100">
        <div id="caja"></div>
        <div>
            <h1  id="title" class="text-center mt-5 mb-4" >Cambiar Contraseña</h1>
        </div>
        <form #form autocomplete="off" novalidate #formRef="ngForm" [formGroup]="changePassword"(ngSubmit)="actualizar(changePassword.value)">
            <div class="row mb-3" id="formulario">
                <div id="campos">
                    <div class="col-md-5 mt-4 mb-4 w-50">
                        <div class="form-floating">
                            <div class = "d-flex align-items-center">
                                <div class="form-floating w-100">
                                    <input matInput [type]="hideAct ? 'password' : 'text'" class="form-control" id="inputActualPassword" name="actualPassword"
                                    formControlName="actual_password" placeholder="Ingrese una contraseña">
                                    <label for = "inputActualPassword">Contraseña Actual</label>
                                </div>
                                <a class ="icon-password" mat-icon-button matSuffix (click)="hideAct = !hideAct" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hideAct ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </a>
                            </div>
                            <span class="lead error" *ngIf="(formRef.submitted  && changePassword.get('actual_password')?.hasError('required')) || changePassword.get('actual_password')?.hasError('minlength')">
                                La contraseña no coincide</span>
                        </div>
                    </div>
                    <div class="col-md-5 mb-4 w-50">
                        
                        <div class="form-floating">
                            <div class = "d-flex align-items-center">
                                <div class="form-floating w-100">
                                    <input #password matInput [type]="hide ? 'password' : 'text'" class="form-control" id="inputNewPassword" name="newpassword"
                                    formControlName="password" placeholder="Ingrese una contraseña" maxlength="24">
                                    <label for = "inputNewPassword">Contraseña Nueva</label>
                                </div>
                                <a class ="icon-password" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </a>
                            </div>
                            <span class="lead error" *ngIf="(formRef.submitted  && changePassword.get('password')?.hasError('required')) || changePassword.get('password')?.hasError('pattern')">
                                Ingrese una contraseña que contenga:<br>
                                ◆ Al menos 1 Minuscula<br>
                                ◆ Al menos 1 Mayúscula<br>
                                ◆ Al menos 1 Numero<br>
                                ◆ Al menos 1 Caracter especial<br>
                                ◆ Mínimo 8 caracteres</span>
                        </div>
                    </div>
                    <div class="col-md-5 mb-4 w-50">
                        <div class="form-floating">
                            <div class = "d-flex align-items-center">
                                <div class="form-floating w-100">
                                    <input matInput [type]="hideConf ? 'password' : 'text'" class="form-control" id="inputConfPassword" name="confPassword"
                                    formControlName="confpassword" placeholder="Ingrese su contraseña nuevamente" maxlength="24">
                                    <label for="inputConPassword">Confirmar Contraseña</label>
                                </div>
                                <a class ="icon-password" mat-icon-button matSuffix (click)="hideConf = !hideConf" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hideConf ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </a>
                            </div>
                            <!-- <span class="lead error"*ngIf="validacionPassword()">La contraseñas no coinciden</span> -->
                            <span class="lead error" *ngIf="(formRef.submitted  && changePassword.get('confpassword')?.hasError('required')) || changePassword.get('confpassword')?.hasError('pattern') || validacionPassword()">
                                Las contraseñas no coinciden</span>
                        </div>
                    </div>
                    <div class="col-md-5 mb-4 w-50 text-center">
                        <input type="submit" value="Actualizar" [disabled]="formRef.invalid || validacionPassword()" class="btn btn-primary btn-block w-75">
                    </div>
                </div>
            </div>
            <div *ngIf="loanding" id="loader" class="w-100">
                <mat-progress-spinner class="top-50 start-50 translate-middle" id="carga" [color]="color" [mode]="mode">
                </mat-progress-spinner>
            </div>
        </form>
    </div>
</div>