<header-client></header-client>
<div id="container">
    <nav-client></nav-client>
    <div id="cliente">
        <div id="caja"></div>
        <div id="title">
            <h1>Cambiar Contraseña</h1>
        </div>
        <form #form autocomplete="off" novalidate #formRef="ngForm">
            <div class="row mb-3" id="formulario">
                <div id="campos">
                    <div class="col-md-5 mt-2 mb-4 ">
                        <label for="inputActualPassword">Contraseña Actual</label>
                        <input class="form-control" id="inputActualPassword" name="actualPassword" type="password">

                    </div>
                    <div class="col-md-5 mb-4">
                        <label for="inputNewPassword">Nueva Contraseña</label>
                        <input class="form-control" id="inputNewPassword" name="newPassword" type="password">

                    </div>
                    <div class="col-md-5 mb-4">
                        <label for="inputEmail">Confirmar Contraseña</label>
                        <input class="form-control" id="inputEmail" name="mailorganizacion" type="password">

                    </div>
                </div>


            </div>
        </form>
    </div>
</div>