<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/cliente">
                    <span data-feather="cliente"></span>
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/cambiar_contraseña">
                    <span data-feather="cliente"></span>
                    Cambiar Contraseña
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/perfil">
                    <span data-feather="cliente"></span>
                    Perfil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                    <span data-feather="cliente"></span>
                    **********
                </a>
            </li> 
        </ul>
    </div>
</nav>