<div class="Layout-sc-nxg1ff-0 ScModalWrapper-sc-a9gyxp-0 bGFKqX tw-modal" role="dialog" aria-modal="true">
    <div class="Layout-sc-nxg1ff-0 gccePR">
        <h4 id="modal-root-header" class="CoreText-sc-cpl358-0 cSGWxZ">Formulario de pago</h4>
    </div>
    <div class="Layout-sc-nxg1ff-0 kDsBGN">
        <div class="Layout-sc-nxg1ff-0 eVxqWI checkout-form-modal-layout__body-container">
            <div class="Layout-sc-nxg1ff-0 kccnTj checkout-form__container" data-a-target="checkout-form__container">
                <div class="Layout-sc-nxg1ff-0 cfYWap">
                    <div class="Layout-sc-nxg1ff-0 dUCYUL checkout-form__modal-header">
                        <div class="modal__close-button modal__close-button--inset"><button
                                class="ScCoreButton-sc-1qn4ixc-0 hBonLF ScButtonIcon-sc-o7ndmn-0 hACpWd"
                                aria-label="Cerrar pantalla" data-a-target="modalClose">
                                <div class="ScButtonIconFigure-sc-o7ndmn-1 gakSVk">
                                    <div class="ScIconLayout-sc-1bgeryd-0 kbOjdP tw-icon">
                                        <div class="ScAspectRatio-sc-1sw3lwy-1 dNNaBC tw-aspect">
                                            <div class="ScAspectSpacer-sc-1sw3lwy-0 gkBhyN"></div><svg width="100%"
                                                height="100%" version="1.1" viewBox="0 0 20 20" x="0px" y="0px"
                                                class="ScIconSVG-sc-1bgeryd-1 cMQeyU">
                                                <g>
                                                    <path
                                                        d="M8.5 10L4 5.5 5.5 4 10 8.5 14.5 4 16 5.5 11.5 10l4.5 4.5-1.5 1.5-4.5-4.5L5.5 16 4 14.5 8.5 10z">
                                                    </path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </button></div>
                    </div>
                    <div class="Layout-sc-nxg1ff-0 LItuv">
                        <div class="Layout-sc-nxg1ff-0 hJRGuc summary-layout">
                            <div class="Layout-sc-nxg1ff-0 jJdMYi">
                                <h1 data-test-selector="modal-title"
                                    class="CoreText-sc-cpl358-0 ScTitleText-sc-1gsen4-0 gAYdrP tw-title">Completar
                                    compra</h1>
                            </div>
                            <div class="Layout-sc-nxg1ff-0 ehNUHP">
                                <div class="Layout-sc-nxg1ff-0 ScGrid-sc-zg6pp6-0 oHytB tw-grid">
                                    <div class="ScColumn-sc-tzah5l-0 iFvLNT tw-col">
                                        <div class="Layout-sc-nxg1ff-0 eItCEB">
                                            <h2 class="CoreText-sc-cpl358-0 ScTitleText-sc-1gsen4-0 fpkNHz tw-title">
                                                Resumen de la compra</h2>
                                        </div>
                                        <div class="Layout-sc-nxg1ff-0 fca-DQo">
                                            <div class="Layout-sc-nxg1ff-0 jqfenf">
                                                <div class="Layout-sc-nxg1ff-0 kpbqtV"><img
                                                        class="bits-product-description__bits-image tw-image"
                                                        alt="Paquete de 300 Bits"
                                                        src="https://static.twitchcdn.net/assets/purple-gem-42e53a102b0940be34e3.png">
                                                </div>
                                                <div class="Layout-sc-nxg1ff-0 binZJj">
                                                    <div class="Layout-sc-nxg1ff-0 eVxqWI">
                                                        <p data-a-target="bits-product-text"
                                                            class="CoreText-sc-cpl358-0 godNwF">Paquete de 300 Bits</p>
                                                        <p class="CoreText-sc-cpl358-0 ixQLCM">Cargo único el 18 ago
                                                            2021.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ScColumn-sc-tzah5l-0 jPIzbL tw-col"></div>
                                    <div class="ScColumn-sc-tzah5l-0 jPIzbL tw-col">
                                        <div class="Layout-sc-nxg1ff-0 ScGrid-sc-zg6pp6-0 oHytB tw-grid"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="Layout-sc-nxg1ff-0 ScGrid-sc-zg6pp6-0 oHytB tw-grid">
                                <div class="ScColumn-sc-tzah5l-0 iFvLNT tw-col"></div>
                                <div class="ScColumn-sc-tzah5l-0 hKwUGP tw-col">
                                    <div class="Layout-sc-nxg1ff-0 eScokX"><strong
                                            class="CoreText-sc-cpl358-0 fdiHjG">Total con IVA</strong></div>
                                </div>
                                <div class="ScColumn-sc-tzah5l-0 bjxhuP tw-col">
                                    <div class="Layout-sc-nxg1ff-0 eScokX">
                                        <p class="CoreText-sc-cpl358-0 cSGWxZ"><span
                                                data-a-target="checkout-summary-total"
                                                class="CoreText-sc-cpl358-0 hJoMge">3,00&nbsp;US$</span><span
                                                class="CoreText-sc-cpl358-0 cSGWxZ"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Layout-sc-nxg1ff-0 gWccNx">
                            <div class="Layout-sc-nxg1ff-0 eVxqWI checkout-form-select-screen">
                                <div class="Layout-sc-nxg1ff-0 dfOKVG">
                                    <div class="Layout-sc-nxg1ff-0 izIVYv">
                                        <h4 class="CoreText-sc-cpl358-0 cSGWxZ">Pagar con</h4>
                                    </div>
                                    <div class="Layout-sc-nxg1ff-0 cEAqPs secure-stamp">
                                        <figure class="ScFigure-sc-1j5mt50-0 laJGEQ tw-svg"><svg
                                                type="color-fill-current" width="20px" height="20px" version="1.1"
                                                viewBox="0 0 20 20" x="0px" y="0px" class="ScSvg-sc-1j5mt50-1 BNeRR">
                                                <g>
                                                    <path fill-rule="evenodd"
                                                        d="M14.001 5.99A3.992 3.992 0 0010.01 2h-.018a3.992 3.992 0 00-3.991 3.99V8H3.999v8c0 1.105.896 2 2 2h8c1.104 0 2-.895 2-2V8h-1.998V5.99zm-2 2.01V5.995A1.996 1.996 0 0010.006 4h-.01a1.996 1.996 0 00-1.995 1.995V8h4z"
                                                        clip-rule="evenodd"></path>
                                                </g>
                                            </svg></figure>
                                        <p class="CoreText-sc-cpl358-0 kVaIyi">Seguro</p>
                                    </div>
                                </div>
                                <div data-a-target="payment-method-selector" class="Layout-sc-nxg1ff-0 eVxqWI">
                                    <div class="Layout-sc-nxg1ff-0 ScGrid-sc-zg6pp6-0 rfwmH tw-grid">
                                        <div class="ScColumn-sc-tzah5l-0 dKjhsr tw-col">
                                            <div data-a-target="recurly-amazon-pay-button"
                                                class="Layout-sc-nxg1ff-0 eItCEB"><button
                                                    class="ScCoreButton-sc-1qn4ixc-0 jyYizZ ScPaymentButton-sc-236nim-0 fitHtu tw-payment-button">
                                                    <div class="ScPaymentButtonLayout-sc-236nim-1 hImvyO">
                                                        
                                                    </div>
                                                </button></div>
                                        </div>
                                        <div class="ScColumn-sc-tzah5l-0 dKjhsr tw-col">
                                            <div class="Layout-sc-nxg1ff-0 eItCEB"><button
                                                    class="ScCoreButton-sc-1qn4ixc-0 ScCoreButtonSecondary-sc-1qn4ixc-2 bsbgzp tw-payment-button"
                                                    data-a-target="xsolla-payment-method-button">
                                                    <div class="ScPaymentButtonLayout-sc-236nim-1 hImvyO">
                                                        <div class="Layout-sc-nxg1ff-0 jxSllz"><img
                                                                class="select-xsolla-button__credit-card-icon tw-image"
                                                                alt="Visa"
                                                                src="https://static.twitchcdn.net/assets/visa-6735449f657c4e4619f6.svg"><img
                                                                class="select-xsolla-button__credit-card-icon tw-image"
                                                                alt="Master Card"
                                                                src="https://static.twitchcdn.net/assets/mastercard-25102409fba46d2f6542.svg"><img
                                                                class="select-xsolla-button__credit-card-icon tw-image"
                                                                alt="American Express"
                                                                src="https://static.twitchcdn.net/assets/amex-d916fd5efa001650f7c9.svg"><img
                                                                class="select-xsolla-button__credit-card-icon tw-image"
                                                                alt="Discover"
                                                                src="https://static.twitchcdn.net/assets/discover-65dc8aa5c9da7e463807.svg"><span
                                                                class="CoreText-sc-cpl358-0 glwoqZ">+ Más</span></div>
                                                    </div>
                                                </button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Layout-sc-nxg1ff-0 dGFnAr"></div>
</div>