<nav_bar></nav_bar>
<section>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7 login-container">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header login-header">
                                    <h3 class="text-center font-weight-light my-4">Llene los datos para la cambiar la contraseña de su
                                        cuenta</h3>
                                </div>
                                <div class="card-body">
                                    <form #form [formGroup]="codeVerificacion" autocomplete="off" 
                                        #formRef="ngForm">
                                        <div class='{{response_d}}'>
                                            {{response_content}}
                                        </div>
                                        <div class="row">
                                            <div class="d-flex justify-content-center align-items-center mb-3">
                                                <div class="form-floating col-lg-8 mt-4">
                                                    <input #codigo class="form-control input-campos" id="inputCodigo" name="codigodireccion"
                                                        type="password" placeholder="código de verificación"
                                                        formControlName="code">
                                                    <label class="label-campos" for="inputCode">Código de verificación</label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input type ="submit"(click) = "enviarCode(codigo.value)" value="Verificar"
                                                        [disabled]="formRef.control.invalid"
                                                        class="btn btn-primary btn-block button-verificar-enviar">
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </form>
                                    <form #form2 [formGroup]="restablecerPassword" autocomplete="off" novalidate
                                    #formRef2="ngForm" (ngSubmit)="enviar(password.value)">
                                        <div class="px-5 mt-2 mb-3">
                                            
                                            <div class="form-floating">
                                                <div class = "d-flex align-items-center">
                                                    <div class="form-floating w-100">
                                                        <input #password matInput [type]="hide ? 'password' : 'text'" class="form-control input-campos" id="inputPassword" name="password"
                                                        formControlName="password" placeholder="Ingrese una contraseña" maxlength = "24" >
                                                        <label class="label-campos" for = "inputPassword">Contraseña</label>
                                                    </div>
                                                    <a class ="icon-password" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                    </a>
                                                </div>
                                                <span class="lead error"
                                                    *ngIf="(formRef.submitted && restablecerPassword.get('password')?.hasError('required')) || restablecerPassword.get('password')?.hasError('pattern') || restablecerPassword.get('password')?.hasError('minlength')">Ingrese contraseña que contenga:<br>
                                                    ◆ Al menos 1 minuscula<br>
                                                    ◆ Al menos 1 mayuscula<br>
                                                    ◆ Al menos 1 numero<br>
                                                    ◆ Al menos 1 caracter especial<br>
                                                    ◆ Mínimo 8 caracteres</span>
                                            </div>
                                        </div>
                                        
                                        <div class="px-5 mt-2 mb-3">
                                            <div class="form-floating">
                                                <div class = "d-flex align-items-center">
                                                    <div class="form-floating w-100">
                                                        <input matInput [type]="hideConf ? 'password' : 'text'" class="form-control input-campos" id="validatePassword" name="passwordvalidate"
                                                        formControlName="confpassword" placeholder="Ingrese su contraseña nuevamente" maxlength="24">
                                                        <label class="label-campos" for="inputvalidatePassword">Valide su contraseña</label>
                                                    </div>
                                                    <a class ="icon-password" mat-icon-button matSuffix (click)="hideConf = !hideConf" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                    </a>
                                                </div>
                                                <span class="lead error" *ngIf="validacionPassword()">La contraseñas
                                                    no coinciden</span>
                                            </div>
                                        </div>

                                        <div class="mt-4 mb-0">
                                            <div class="boton-Siguiente d-grid">
                                                <input type="submit" value="Siguiente"
                                                    [disabled]="formRef2.control.invalid || response_button || validacionPassword()"
                                                    class="btn btn-primary btn-block button-verificar-enviar">
                                            </div>
                                        </div>
                                        <div *ngIf="loanding" id="loader" class="w-100">
                                            <mat-progress-spinner class="top-50 start-50 translate-middle" id="carga" [color]="color" [mode]="mode">
                                            </mat-progress-spinner>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright © Your Website 2021</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            ·
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</section>