<section class="section-header bg-primary text-white pb-7 pb-lg-11">
    <div class="container-fluid">
        <div id ="plan-header" class="row justify-content-center mb-6">
            <div class="col-12 col-md-10 text-center">
                <h1 class="display-2 mb-3">Contamos con servicios únicos</h1>
                <p class="lead px-5">Acceso a <span class="font-weight-bold">una infinidad de oportunidades</span> servicios web,
                    <span class="font-weight-bold">hosts </span> certificados <span
                        class="font-weight-bold">dominios</span> y más
                </p>
            </div>
        </div>
        <!--***** Cartas de los precios *****-->
        <div id="plan-body" class="row text-gray justify-content-center">
            <!--*** Carta 1 ***-->
            <div class="col-sm-6 col-md-4 col-xl-3 order-lg-5 px-sm-1 px-lg-3">
                <!-- Card -->
                <div class="card shadow-soft mb-5 mb-lg-6 px-2">
                    <div class="card-header border-light px-4">
                        <!-- Price -->
                        <div class="d-flex mb-3">
                            <span class="h5 mb-0">$</span>
                            <span class="price display-2 mb-0" data-annual="0" data-monthly="0">12</span>
                            <span class="h6 font-weight-normal align-self-end">/Año</span>
                        </div>
                        <h4 class="mb-3 text-black">Económico</h4>
                        <p class="font-weight-normal mb-0 d-none">If you're new to SEO or just need the basics,
                            this
                            plan is a great way.</p>
                    </div>
                    <div class="card-body pt-5">
                        <ul class="list-group simple-list">

                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                <span class="font-weight-bolder">1GB</span> de almacenamiento
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                1 hospedaje de dominio
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                10Gb de banda ancha
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Correos ilimitados
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                2 bases de datos de MySql
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                300 emails por hora
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                <span class="font-weight-bolder">Gratis </span>certificado ssl
                            </li>

                        </ul>
                    </div>
                    <div class="card-footer px-4 pb-4">
                        <!-- Button -->
                        <a [routerLink]="['/contratar']"
                            class="btn btn-block btn-outline-secondary animate-up-2">
                            Comprar <span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!--*** Carta 2 ***-->
            <div  id = "card2" class="col-sm-6 col-md-4 col-xl-3 order-lg-1 px-sm-1 px-lg-3">
                <!-- Card -->
                <div class="card shadow-soft mb-5 mb-lg-6">
                    <div class="card-header border-light px-4">
                        <!-- Price -->
                        <div class="d-flex mb-3 text-primary">
                            <span class="h5 mb-0">$</span>
                            <span class="price display-2 text-primary mb-0" data-annual="199"
                                data-monthly="99">23</span>
                            <span class="h6 font-weight-normal align-self-end">/Año</span>
                        </div>
                        <h4 class="mb-3 text-black">Avanzado</h4>
                        <p class="font-weight-normal mb-0 d-none">Ample limits plus full access to keyword
                            research
                            tools. Most folks start here.</p>
                    </div>
                    <div class="card-body pt-5">
                        <ul class="list-group simple-list">
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                <span class="font-weight-bolder">3GB</span> de almacenamiento
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                1 hospedaje de dominio
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                50Gb de banda ancha
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Correos ilimitados
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Bases de datos ilimitadas
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                300 emails por hora
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                <span class="font-weight-bolder">Gratis </span>certificado ssl
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer px-4 pb-4">
                        <!-- Button -->
                        <a [routerLink]="['/contratar']" class="btn btn-block btn-outline-primary">
                            Comprar<span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!--*** Carta 3 ***-->
            <div id = "card3" class="col-sm-6 col-md-4 col-xl-3 order-lg-2 px-sm-1 px-lg-3">
                <!-- Card -->
                <div class="card shadow-soft border-light mb-5 mb-lg-6">
                    <div class="card-header border-light px-4">
                        <!-- Price -->
                        <div class="d-flex mb-3 text-primary">
                            <span class="h5 mb-0">$</span>
                            <span class="price display-2 text-primary mb-0" data-annual="299"
                                data-monthly="199">29</span>
                            <span class="h6 font-weight-normal align-self-end">/Año</span>
                        </div>
                        <h4 class="mb-3 text-black">Óptimo</h4>
                        <p class="font-weight-normal mb-0 d-none">The ideal plan for businesses and agencies
                            that are
                            serious about search.</p>
                    </div>
                    <div class="card-body pt-5">
                        <ul class="list-group simple-list">
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                <span class="font-weight-bolder">6GB</span> de almacenamiento
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                1 hospedaje de dominio
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                100Gb de banda ancha
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Correos ilimitados
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Bases de datos ilimitadas
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                300 emails por hora
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                <span class="font-weight-bolder">Gratis </span>certificado ssl
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer px-4 pb-4">
                        <!-- Button -->
                        <a [routerLink]="['/contratar']" class="btn btn-block btn-outline-primary">
                            Comprar<span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!--***** Carta 4 *****-->
            <div id = "card4" class="col-sm-6 col-md-4 col-xl-3 order-lg-6 px-sm-1 px-lg-3">
                <!-- Card -->
                <div class="card shadow-soft mb-5 mb-lg-6">
                    <div class="card-header border-light px-4">
                        <!-- Price -->
                        <div class="d-flex mb-3">
                            <span class="h5 mb-0">$</span>
                            <span class="price display-2 text-secondary mb-0" data-annual="199"
                                data-monthly="99">45</span>
                            <span class="h6 font-weight-normal align-self-end">/Año</span>
                        </div>
                        <h4 class="mb-3 text-black">Profesional</h4>
                        <p class="font-weight-normal mb-0 d-none">Ample limits plus full access to keyword
                            research
                            tools. Most folks start here.</p>
                    </div>
                    <div class="card-body pt-5">
                        <ul class="list-group simple-list">
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                <span class="font-weight-bolder">10GB</span> de almacenamiento
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                4 hospedaje de dominio
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                200Gb de banda ancha
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Correos ilimitados
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Bases de datos ilimitadas
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                300 emails por hora
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                <span class="font-weight-bolder">Gratis </span>certificado ssl
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer px-4 pb-4">
                        <!-- Button -->
                        <a [routerLink]="['/contratar']" class="btn btn-block btn-outline-secondary">
                            Comprar<span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!--***** Carta 5 *****-->
            <div id = "card5" class="col-sm-6 col-md-4 col-xl-3 order-lg-3 px-sm-1 px-lg-3">
                <!-- Card -->
                <div class="card shadow-soft mb-5 mb-lg-6">
                    <div class="card-header border-light px-4">
                        <!-- Price -->
                        <div class="d-flex mb-3 text-primary">
                            <span class="h5 mb-0">$</span>
                            <span class="price display-2 text-primary mb-0" data-annual="199"
                                data-monthly="99">80</span>
                            <span class="h6 font-weight-normal align-self-end">/Año</span>
                        </div>
                        <h4 class="mb-3 text-black">Premium</h4>
                        <p class="font-weight-normal mb-0 d-none">Ample limits plus full access to keyword
                            research
                            tools. Most folks start here.</p>
                    </div>
                    <div class="card-body pt-5">
                        <ul class="list-group simple-list">
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Almacenamiento <span class="font-weight-bolder">Ilimitado</span>
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                1 hospedaje de dominio
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Banda ancha ilimitada
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Correos ilimitados
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Bases de datos ilimitadas
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                300 emails por hora
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                <span class="font-weight-bolder">Gratis </span>certificado ssl
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer px-4 pb-4">
                        <!-- Button -->
                        <a [routerLink]="['/contratar']" class="btn btn-block btn-outline-primary">
                            Comprar<span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!--***** Carta 6 *****-->
            <div id = "card6" class="col-sm-6 col-md-4 col-xl-3 order-lg-4 px-sm-1 px-lg-3">
                <!-- Card -->
                <div class="card shadow-soft mb-5 mb-lg-6">
                    <div class="card-header border-light px-4">
                        <!-- Price -->
                        <div class="d-flex mb-3 text-primary">
                            <span class="h5 mb-0">$</span>
                            <span class="price display-2 text-primary mb-0" data-annual="199"
                                data-monthly="99">95</span>
                            <span class="h6 font-weight-normal align-self-end">/Año</span>
                        </div>
                        <h4 class="mb-3 text-black">Business</h4>
                        <p class="font-weight-normal mb-0 d-none">Ample limits plus full access to keyword
                            research
                            tools. Most folks start here.</p>
                    </div>
                    <div class="card-body pt-5">
                        <ul class="list-group simple-list">
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Almacenamiento <span class="font-weight-bolder">Ilimitado</span>
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                3 hospedaje de dominio
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Banda ancha ilimitada
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Correos ilimitados
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Bases de datos ilimitadas
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                300 emails por hora
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                <span class="font-weight-bolder">Gratis </span>certificado ssl
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer px-4 pb-4">
                        <!-- Button -->
                        <a [routerLink]="['/contratar']" class="btn btn-block btn-outline-primary">
                            Comprar<span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!--***** Carta 7 *****-->
            <div id = "card7" class="col-sm-6 col-md-4 col-xl-3 order-lg-7 px-sm-1 px-lg-3">
                <!-- Card -->
                <div class="card shadow-soft mb-5 mb-lg-6">
                    <div class="card-header border-light px-4">
                        <!-- Price -->
                        <div class="d-flex mb-3 ">
                            <span class="h5 mb-0">$</span>
                            <span class="price display-2 text-secondary mb-0" data-annual="199"
                                data-monthly="99">125</span>
                            <span class="h6 font-weight-normal align-self-end">/Año</span>
                        </div>
                        <h4 class="mb-3 text-black">Hiper</h4>
                        <p class="font-weight-normal mb-0 d-none">Ample limits plus full access to keyword
                            research
                            tools. Most folks start here.</p>
                    </div>
                    <div class="card-body pt-5">
                        <ul class="list-group simple-list">
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Almacenamiento <span class="font-weight-bolder">Ilimitado</span>
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Hospedaje de dominio <span class="font-weight-bolder">Ilimitado</span>
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Banda ancha ilimitada
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Correos ilimitados
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                Bases de datos ilimitadas
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                300 emails por hora
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                <span class="font-weight-bolder">Gratis </span>Facturación Elect. $25
                            </li>
                            <li class="list-group-item font-weight-normal">
                                <span class="icon-gray"><i class="fas fa-check"></i></span>
                                <span class="font-weight-bolder">Gratis </span>certificado ssl
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer px-4 pb-4">
                        <!-- Button -->
                        <a [routerLink]="['/contratar']" class="btn btn-block btn-outline-secondary">
                            Comprar<span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--***** Seccion oculta *****-->
        <div class="row justify-content-center d-none">
            <div class="col col-md-10 text-center">
                <h2 class="mb-3">Still not convinced? Start with a 3-day FREE trial!</h2>
                <p class="lead mb-5 px-5">You will get full access to your Dashboard with all the features for 3
                    days.</p> 
                <!-- Button -->
                <a href="../../dashboard/pages/dashboards/dashboard.html" target="_blank"
                    class="btn btn-secondary animate-up-2">
                    Start a free demo<span class="icon icon-xs ml-3"><i class="fas fa-arrow-right"></i></span>
                </a>
            </div>
        </div>
    </div>
    <div class="pattern bottom"></div>
</section>
<compare-plan></compare-plan>