.nb_element{
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    padding-right: .35rem;
    padding-left: .35rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration:none;
    white-space: nowrap;
    cursor: pointer;
}
.nb_element:hover{
    background-color: lightslategray;
    color: black;
}