<section id="step4" class="section section bg-white line-bottom-light">
    <div class="container-fluid">
        <!--***** Titulo *****-->
        <div class="row mb-6 justify-content-center px-0 px-md-3">
            <h1 class="display-2 text-center">Compare los planes</h1>
        </div>
        <!--***** Precios Flotantes *****-->
        <div class="container-fluid mb-3 px-0 px-md-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-3 offset-3 justify-content-center px-1 px-sm-3 px-md-4 px-lg-5 px-xl-6 px-0">
                        <div class="text-center">
                            <span class="h6">Económico</span>
                            <span class="d-block">$24/Año</span>
                        </div>
                        <a [routerLink]="['/contratar']" class="btn btn-block btn-outline-primary btn-sm">Comprar</a>
                    </div>
                    <div class="col-3 justify-content-center px-1 px-sm-3 px-md-4 px-lg-5 px-xl-6 px-0">
                        <div class="text-center">
                            <span class="h6">Profesional</span>
                            <span class="d-block">$47/Año</span>
                        </div>
                        <a [routerLink]="['/contratar']" class="btn btn-block btn-outline-secondary btn-sm">Comprar</a>
                    </div>
                    <div class="col-3 justify-content-center px-1 px-sm-3 px-md-4 px-lg-5 px-xl-6 px-0">
                        <div class="text-center">
                            <span class="h6">Hiper</span>
                            <span class="d-block">$130/Año</span>
                        </div>
                        <a [routerLink]="['/contratar']" class="btn btn-block btn-outline-secondary btn-sm">Comprar</a>
                    </div>
                </div>

            </div>

        </div>
        <div class="container-fluid mb-6 font-size-sm font-size-xs px-0 px-md-3">
            <div class="col-12">
                <div class="row py-2 bg-gray-200">
                    <div class="col-3">
                        <!-- <span class="icon-gray"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Almacenamiento</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-primary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">1GB</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-secondary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">10GB</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-secondary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Ilimitado</span>
                    </div>
                </div>
                <div class="row py-2 bg-white">
                    <div class="col-3">
                        <!-- <span class="icon-gray"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Hospedaje de Dominio</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-primary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">1</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-secondary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">4</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-secondary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Ilimitado</span>
                    </div>
                </div>
                <div class="row py-2 bg-gray-200">
                    <div class="col-3">
                        <!-- <span class="icon-gray"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Banda de Ancha</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-primary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">10GB</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-secondary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">200GB</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-secondary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Ilimitado</span>
                    </div>
                </div>
                <div class="row py-2 bg-white">
                    <div class="col-3">
                        <!-- <span class="icon-gray"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Correos</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-primary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Ilimitado</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-secondary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Ilimitado</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-secondary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Ilimitado</span>
                    </div>
                </div>
                <div class="row py-2 bg-gray-200">
                    <div class="col-3">
                        <!-- <span class="icon-gray"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Bases de datos MySql</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-primary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">2</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-secondary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Ilimitado</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-secondary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Ilimitado</span>
                    </div>
                </div>
                <div class="row py-2 bg-white">
                    <div class="col-3">
                        <!-- <span class="icon-gray"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Emails/hora</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-primary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">300</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-secondary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">300</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-secondary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">300</span>
                    </div>
                </div>
                <div class="row py-2 bg-gray-200">
                    <div class="col-3">
                        <!-- <span class="icon-gray"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Gratis</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-primary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Certificado SSL</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-secondary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Certificado SSL</span>
                    </div>
                    <div class="col-3 text-center px-0 px-md-3">
                        <!-- <span class="icon-secondary"><i class="fas fa-check"></i></span> -->
                        <span class="font-weight-bolder">Certificado SSL + Facturación Elect. $25</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>