#caja{
    display: flex;
    background-color: black;
    height: 120px;
    border-bottom-right-radius: 18% 75%;
}

#title{
    font-weight: bold;
}

#tabla{
    display: flex;
    flex-direction: column;
    width: 100%;
}

th,td{
    text-align: center;
}

