#title{
    font-weight: 500;
    background-color: #00B4C0;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    color: white;
}

#inputbuscador{
    height: 50px;
    width: 250px;
}

#buscador{
    height: 50px;
    width: 55px;
}  


#tabla{
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

/* th,td{
    text-align: center;
} */
button{
    margin: 0 2% 0 0;
}

#tabla div:first-child + div button{
    font-size: 16px;
    height: 35px;
    border-radius: 25px;
    border-width: 0;
    background-color: #ED8336;
    /* vertical-align: middle; */
}

button.delete{
    background-color: rgb(232, 78, 78);
}
/* tabla */
table{
    border-collapse: separate;
    border-spacing: 0 10px;
  }
  
  table > tbody, table >  thead{
    vertical-align:middle;
  }
  
  tr  td:first-child{
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
  }
  td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px !important; 
    border-top-right-radius: 10px !important; 
  }
  
  thead th{
    color: #34448E;
    font-size: 16px ;
    font-weight: 500;
    /* -webkit-text-stroke: 0.25px black; */
  }
  
  th{
      text-align: center;
  }
  
  td{
      font-size: smaller;
      width: 120px;
      text-align: center;
  
  }
  
  tbody td{
    background-color: #EEEEEE;
    color:black;
    font-weight: 500;
  }
    
  /* table tbody tr:nth-child(odd){
    background: #b9b9b9;
  }
  
  table tbody tr:nth-child(even){
    background: #fff8e5;
  } */
  
  #tableBody{
    border: none;
  }