<html>
    <head></head>
    <body>
         <div class = 'center'> 
                <h3>Un nuevo usuario quiere ponerse en contacto</h3> 
                <p>
                    Datos personales de contacto:
                </p>       
                <p>
                    -{{nombre}}
                </p>
                <p>
                   -{{razonsocial}}
                </p>
                <p>
                    -{{mail}}
                </p>
                    -{{telefono}} 
                <p>
         </div>
    </body>
    
</html>