h2{
    margin-top: 10px;
    margin-left: 20px;
}

#caja{
    display: flex;
    background-color: black;
    height: 120px;
    border-bottom-right-radius: 18% 75%;
}

#container{
    display: flex;
    flex-direction: row;
}
#tabla{
    display: flex;
    flex-direction: column;
    width: 100%;
}

th,td{
    text-align: center;
}

#indices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cantidad{
    margin-left: 20px;
}

#paginacion{
    margin-right: 20px;
}

#botones-acciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}