<div id="container" class="vh-100">
    <div id="tabla" class="table-responsive w-100">
        <div id="caja"></div>
        <h2>Empresas Temporales</h2>
        <div class="table-wrapper">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>

                        <th>Razon Social</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tablasEmptmp">
                </tbody>
            </table>
        </div>
    </div>
</div>